﻿@using System.Security.Claims


<!-- Header start -->
<header class="top-header th-bg" id="main-header-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <div class="list-inline">
                    <a href="tel:1-7X0-555-8X22"><i class="fa fa-phone"></i>+0336 656 538</a>
                    <a href="mailto:info@DanKhanh.com"><i class="fa fa-envelope"></i>info@DanKhanh.com</a>
                    <a href="#" class="mr-0 d-none-992"><i class="fa fa-clock-o"></i>Thứ Hai - Chủ Nhật: 8:00am - 6:00pm</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5">
                <ul class="top-social-media pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        string username = User.Identity.Name;
                        <li>
                            <a href="thong-tin" class="sign-in"><i class="fa fa-user"></i> @username</a>
                        </li>
                        <li>
                            <a href="dang-xuat" class="sign-in"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="dang-ky" class="sign-in"><i class="fa fa-user"></i> Đăng ký</a>
                        </li>
                        <li>
                            <a href="dang-nhap" class="sign-in"><i class="fa fa-sign-in"></i> Đăng nhập</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header end -->
<!-- Main header start -->
<header class="main-header sticky-header" id="main-header-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo" href="index.html">
                        <img src="img/logos/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" id="drawer">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav justify-content-center">
                            <!-------------------------------------------------------------------------------------->
                            @foreach (var item in Model.Menus)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/@item.Link">@item.Title</a>
                                </li>
                            }

                            <!-------------------------------------------------------------------------------------->
                        </ul>
                        <ul class="nav navbar-nav ml-auto justify-content-end">
                            <li class="nav-item">
                                <a href="submit-property.html" class="submit-btn">
                                    Gửi Tài Sản
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Main header end -->